n8n-workflows/weekly-report.json
{
  "name": "weekly-report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{
            "field": "weeks",
            "weeksInterval": 1,
            "triggerAtDay": [0],
            "triggerAtHour": 9,
            "triggerAtMinute": 0
          }]
        }
      },
      "id": "weekly-cron",
      "name": "Sunday 9AM Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.ECOTRACK_API_URL }}/api/webhooks/weekly-summary",
        "method": "GET"
      },
      "id": "fetch-summary",
      "name": "Fetch Weekly Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notes": "GET /api/webhooks/weekly-summary → O(1) prefix sum range query"
    },
    {
      "parameters": {
        "url": "={{ $env.ECOTRACK_API_URL }}/api/insights/ai?days=7",
        "method": "GET"
      },
      "id": "fetch-ai",
      "name": "Get AI Weekly Insight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "notes": "Claude Sonnet 4.6 analyzes the week and returns structured suggestions"
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Fetch Weekly Summary').item.json;\nconst ai = $('Get AI Weekly Insight').item.json;\nconst weekTotal = summary.weekTotal?.toFixed(2) ?? '0';\nconst avg = summary.stats?.avg?.toFixed(2) ?? '0';\nconst streak = summary.stats?.streak ?? 0;\nconst trees = summary.stats?.trees?.toFixed(1) ?? '0';\nconst top = summary.stats?.topCategory?.category ?? 'N/A';\n\nconst suggestions = (ai.suggestions ?? []).slice(0, 3)\n  .map((s, i) => `<li style=\"margin-bottom:8px\"><strong>${s.action}</strong><br><small style=\"color:#6b7280\">Saves ~${s.estimatedSavingKg} kg CO₂e • ${s.difficulty} • ${s.timeframe}</small></li>`)\n  .join('');\n\nconst html = `\n<!DOCTYPE html><html>\n<body style=\"font-family:Inter,sans-serif;background:#09090b;color:#f4f4f5;padding:32px;max-width:600px;margin:0 auto\">\n  <div style=\"background:linear-gradient(135deg,#052e16,#14532d);border-radius:16px;padding:32px;margin-bottom:24px\">\n    <h1 style=\"margin:0;font-size:28px;background:linear-gradient(135deg,#4ade80,#22c55e);-webkit-background-clip:text;-webkit-text-fill-color:transparent\">🌿 EcoTrack Weekly Report</h1>\n    <p style=\"color:#a7f3d0;margin:8px 0 0\">${summary.from} → ${summary.to}</p>\n  </div>\n\n  <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:16px;margin-bottom:24px\">\n    <div style=\"background:rgba(39,39,42,0.8);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:16px\">\n      <p style=\"font-size:24px;font-weight:900;color:#4ade80;margin:0\">${weekTotal} kg</p>\n      <p style=\"color:#71717a;font-size:12px;margin:4px 0 0\">Weekly CO₂e</p>\n    </div>\n    <div style=\"background:rgba(39,39,42,0.8);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:16px\">\n      <p style=\"font-size:24px;font-weight:900;color:#38bdf8;margin:0\">${avg} kg/day</p>\n      <p style=\"color:#71717a;font-size:12px;margin:4px 0 0\">Daily Average</p>\n    </div>\n    <div style=\"background:rgba(39,39,42,0.8);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:16px\">\n      <p style=\"font-size:24px;font-weight:900;color:#fbbf24;margin:0\">${streak} days 🔥</p>\n      <p style=\"color:#71717a;font-size:12px;margin:4px 0 0\">Current Streak</p>\n    </div>\n    <div style=\"background:rgba(39,39,42,0.8);border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:16px\">\n      <p style=\"font-size:24px;font-weight:900;color:#a78bfa;margin:0\">${trees} trees/yr 🌳</p>\n      <p style=\"color:#71717a;font-size:12px;margin:4px 0 0\">To Offset</p>\n    </div>\n  </div>\n\n  <div style=\"background:rgba(34,197,94,0.08);border:1px solid rgba(34,197,94,0.2);border-radius:12px;padding:20px;margin-bottom:20px\">\n    <h3 style=\"color:#4ade80;margin:0 0 12px\">🤖 AI Coach Says</h3>\n    <p style=\"color:#d4d4d8;line-height:1.6;margin:0\">${ai.insight ?? 'No insight generated.'}</p>\n  </div>\n\n  ${suggestions ? `\n  <div style=\"margin-bottom:20px\">\n    <h3 style=\"color:#f4f4f5;margin:0 0 12px\">💡 This Week's Actions</h3>\n    <ul style=\"padding-left:0;list-style:none;margin:0\">${suggestions}</ul>\n  </div>` : ''}\n\n  <p style=\"color:#52525b;font-size:11px;text-align:center\">Generated by EcoTrack • Powered by Claude Sonnet 4.6</p>\n</body></html>`;\n\nreturn [{ json: { html, subject: `🌿 EcoTrack Weekly: ${weekTotal} kg CO₂e this week`, to: $env.REPORT_EMAIL } }];"
      },
      "id": "build-email",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@ecotrack.local",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}"
      },
      "id": "send-email",
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": { "smtp": { "id": "smtp-creds", "name": "SMTP Account" } },
      "notes": "Configure SMTP credentials in n8n UI > Credentials"
    }
  ],
  "connections": {
    "Sunday 9AM Cron":    { "main": [[{ "node": "Fetch Weekly Summary", "type": "main", "index": 0 }]] },
    "Fetch Weekly Summary": { "main": [[{ "node": "Get AI Weekly Insight", "type": "main", "index": 0 }]] },
    "Get AI Weekly Insight": { "main": [[{ "node": "Build HTML Report", "type": "main", "index": 0 }]] },
    "Build HTML Report": { "main": [[{ "node": "Send Weekly Report Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "EcoTrack Weekly Report — Sunday 9AM, fetches O(1) prefix sum summary + Claude insights, sends styled HTML email"
  }
}
